/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.link-to-button {
 text-decoration: none; 
 color: black;
  
}
.button {
   padding: 5px;
   background-color: #dcdcdc;
   border: 1px solid  #666;
   color: #000;
   text-decoration: none;
  

}

.menu-item {

color: #e69f1c;
font-weight: bold;
padding: 10px;
margin: 5px;
border: 1px solid #999;

  
}

.menu-top
{
	padding: 20px;
	margin: 5px;
	border: 2px solid #999;
background-color: #E0E0E0 ;	


}

.contact-group {
  width: 50%;
  height: 400px;
  border: 1px solid #999;
  
}

.contact-list {
 padding: 5px;
 width: 40%;
 height: 100%;
 border-right: 1px solid #999;
 float: left;
  
}

.contact-profile {
  padding: 5px;
  width: 55%;
  float: left;  
}